
$list-item-height: 32px;
$list-item-padding-x: 12px;
$list-item-padding-y: 7px;
$list-item-level-spacings: ( 12px, 12px, 35px, 58px, 81px, 104px, 127px, 150px, 173px, 196px, 219px, 242px, 265px, 288px, 311px, 334px, 357px, 380px, 403px, 426px, 449px, 472px, 495px, 518px, 541px );
