
#sidebar {
  background-color: #181818;
}

#sidebar .tag {
  color: #dcdcdc;
}

#sidebar .tag.label.active,
#sidebar .tag.button:active {
  background-color: rgba( 255, 255, 255, .15 );
}

#middlebar {
  background-color: #212124;
}

#middlebar .layout-header {
  background: #212124;
  border-color: #494949;
}

#middlebar .layout-header input {
  background: #202020;
}

#middlebar .header {
  background-color: inherit !important;
  border-bottom: none !important;
  color: inherit !important;
}

#middlebar .header .sort-by,
#middlebar .header .sort-type {
  background-color: #212124;
}

div.button:not(.active).bordered > i.icon {
  color: #bebebe;
}

#middlebar .note-button.button:hover {
  background-color: #2f3440;
}

#middlebar .note-button.label.active,
#middlebar .note-button.button:active {
  background-color: #323951;
}

#middlebar > #middlebar-toolbar.layout-header {
  background: #181818;
}

/* middlebar notes background color should match #middlebar.background-color */
.label:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent), .button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent) {
  background-color: #212124;
  border-color: #484848;
  color: #dcdcdc;
}

.button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent) {
  background-color: #212124;
  border-color: #484848;
  color: #dcdcdc;
}

.button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent).hover, .button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent):hover {
  background-color: #2f3440;
}

.button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent).active, .button:not(.primary):not(.secondary):not(.black):not(.gray):not(.green):not(.red):not(.white):not(.yellow):not(.base):not(.inherit):not(.transparent):active {
  background-color: #323951;
}

#mainbar {
  background-color: #181818;
  border-left: none !important;
}

#mainbar .layout-header {
  background: #181818;
  border-color: #494949;
}

#mainbar .header {
  border-bottom: 1px solid #494949 !important;
}

#mainbar .editor {
  background-color: #181818;
}

#mainbar .split-editor > .editor.preview {
  border-left: 1px solid #494949 !important;
}

.editor.preview {
  background-color: #141414 !important;
}

.CodeMirror {
  background: #141414 !important;
}

#cwd .layout-header,
#error-boundary .layout-header {
  background-color: #181818;
  border-bottom: 1px solid #494949 !important;
}

#about {
  background-color: #181818;
}

/* links in tables */
table a {
  color: #4f8cc9;
}

table a:hover {
  color: #5f96ce;
}

table a:active {
  color: #3f82c4;
}
