@charset "UTF-8";
/* TODO: Integrate into Svelto */
/* TODO: Use Svelto's variables */
/* TODO: Integrate into Svelto */
/* TODO: Use Svelto's variables */
#app, .app-wrapper {
  width: 100%;
  height: 100%;
}

.attachment, .tag {
  z-index: 1;
}

.tagbox {
  padding: 0 !important;
}

.tagbox-partial {
  margin: 0 !important;
}

.editor.preview {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.react-codemirror2 {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.CodeMirror {
  height: auto;
  flex-grow: 1;
  padding: 0 20px !important;
  color: #1f1f1f !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.CodeMirror-lines, .editor.editing, .CodeMirror code {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.CodeMirror-lines {
  padding: 20px 0 !important;
}

.cm-header, .cm-strong, strong {
  font-weight: 600 !important;
}

.editor.preview input[type=checkbox] {
  width: auto !important;
}
.editor.preview .task-list-item {
  margin-left: -1.6em;
}
.editor.preview a:not(.button) > i.icon {
  margin-right: 4px;
  margin-top: -4px;
}

.layout-content {
  height: 0;
  overflow: auto;
}

.spinner {
  margin: unset !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

#sidebar, #middlebar, #mainbar-toolbar, .popover, .title {
  user-select: none !important;
}

.error-stack {
  overflow: auto;
  max-width: calc(100vw - 20px);
}

.editor.preview input[type=checkbox] {
  width: auto !important;
}
.editor.preview .task-list-item {
  margin-left: -1.6em;
}
.editor.preview a:not(.button) > i.icon {
  margin-right: 4px;
  margin-top: -4px;
}

table {
  border-collapse: collapse;
}

kbd {
  font-family: inherit;
}

.toolbar-semaphore-spacer {
  width: 56px;
}

.button.giant {
  font-size: 75px;
}

#cwd .layout-content {
  height: auto;
}
#cwd .layout-content.details {
  padding: 10px 20px;
}
#cwd .layout-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e2e2e2 !important;
}

#error-boundary .layout-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e2e2e2 !important;
}

.mermaid {
  text-align: center;
}

#sidebar {
  flex: 1 1 165px;
  min-width: 165px;
  max-width: 350px;
}
#sidebar .layout-header {
  background-color: transparent;
}
#sidebar .layout-header + .layout-content {
  padding-top: 0;
}
#sidebar .tag-group {
  max-width: 100%;
}
#sidebar .tag-group .tag-group {
  padding-left: 27.5px;
  /* Pixel perfect */
}
#sidebar .tag {
  justify-content: left;
  background-color: transparent;
  margin-bottom: 5px !important;
}
#sidebar .tag.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#sidebar .tag .name {
  flex-grow: 1;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
}
#sidebar .tag .counter {
  padding: 2px 6px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10em;
  font-size: 0.8em;
}

#middlebar {
  flex: 2 2 193px;
  min-width: 193px;
  max-width: 450px;
}
#middlebar .layout-header .search > * {
  margin-bottom: 0 !important;
}
#middlebar .layout-header input {
  width: 0;
}
#middlebar .header {
  height: 27px;
  flex-grow: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
}
#middlebar .header > .multiple {
  height: 27px;
}
#middlebar .header .sort-by, #middlebar .header .sort-type {
  padding: 5px 10px;
  margin-bottom: 0 !important;
}
#middlebar .header .sort-by {
  text-align: left;
}
#middlebar .header .sort-type {
  cursor: pointer;
}
#middlebar .header .sort-type i.icon {
  transition: transform 0.15s;
}
#middlebar .layout-content.react-window-list {
  padding: 0 !important;
}
#middlebar .note-button {
  justify-content: left;
  height: 33px !important;
  /* Necessary for the virtual scroller */
  margin: 0 10px 5px;
  width: calc(100% - 20px) !important;
}
#middlebar .note-button:first-child {
  margin-top: 10px;
}
#middlebar .note-button:last-child {
  margin-bottom: 10px;
}
#middlebar .note-button .title {
  flex-grow: 1;
  padding: 0 5px;
  overflow: hidden;
}
#middlebar .note-button .title p {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#middlebar .note-button .icon-badge {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4em;
  font-size: 0.6em;
}

#mainbar {
  flex: 4 4 327px;
  min-width: 327px;
}
#mainbar .header {
  height: auto;
  flex-grow: 0;
}
#mainbar .editor {
  padding: 20px;
}
#mainbar .editor input {
  display: inline-block;
  margin-left: 0 !important;
}
#mainbar .editor pre {
  display: block !important;
}
#mainbar .multi-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
#mainbar .multi-editor h1 {
  padding-bottom: 20px;
  text-align: center;
}
#mainbar .multi-editor .button {
  flex-grow: 1;
  flex-shrink: 0;
}
#mainbar .multi-editor .actions-favorite, #mainbar .multi-editor .actions-pin {
  flex-grow: 2;
}
#mainbar .multi-editor .actions-delete {
  flex-grow: 3;
}
#mainbar .multi-editor .tagbox {
  padding: 10px !important;
}
#mainbar .multi-editor .tagbox-partial {
  margin: 0 5px 10px !important;
  min-width: 7.5em !important;
}

.layout .layout-header {
  -webkit-app-region: drag;
  height: 38px;
  padding: 0 10px;
  border-bottom: 1px solid transparent;
}

.layout-header > :not(.multiple):not(.title), .layout-header > .multiple > :not(.spacer) {
  -webkit-app-region: no-drag;
}
.layout-header input {
  padding: 2px 5px;
}
.layout-header .label, .layout-header .button {
  padding: 2px 7px !important;
  flex-grow: 0;
}
.layout-header .title {
  padding: 2px 7px !important;
  flex-grow: 0;
  color: #505050;
  font-size: 13px;
}

.dark-theme {
  /*! Github Dark v1.20.93 (2018-12-22) */
  /*! Repository: https://github.com/StylishThemes/GitHub-Dark    */
  /*! Userstyle:  http://userstyles.org/styles/37035              */
  /*! License:    https://creativecommons.org/licenses/by-sa/4.0/ */
  /* scroll bar */
}
.dark-theme div.button:not(.active).bordered > i.icon {
  color: #bebebe;
}
.dark-theme #sidebar {
  background-color: #181818;
}
.dark-theme #sidebar .tag {
  color: #dcdcdc;
}
.dark-theme #sidebar .tag.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dark-theme #sidebar .tag.label.active, .dark-theme #sidebar .tag.button:active {
  background-color: rgba(255, 255, 255, 0.15);
}
.dark-theme #middlebar {
  background-color: #212124;
}
.dark-theme #middlebar .layout-header {
  background: #212124;
  border-color: #494949;
}
.dark-theme #middlebar .layout-header input {
  background: #202020;
  border-color: #000000;
  color: #d4d4d4;
}
.dark-theme #middlebar .header {
  /* background-color: #f8f8f8; */
  border-bottom: 1px solid #343434 !important;
}
.dark-theme #middlebar .header .sort-by, .dark-theme #middlebar .header .sort-type {
  background-color: #212124;
  color: #d4d4d4;
}
.dark-theme #middlebar .note-button.button:hover {
  background-color: #2f3440;
}
.dark-theme #middlebar .note-button.label.active, .dark-theme #middlebar .note-button.button:active {
  background-color: #323951;
}
.dark-theme #middlebar > #middlebar-toolbar.layout-header {
  background: #181818;
}
.dark-theme #mainbar {
  background-color: #181818;
  /* border-left: 1px solid #494949; */
}
.dark-theme #mainbar .layout-header {
  background: #181818;
  border-color: #494949;
}
.dark-theme #mainbar .header {
  border-bottom: 1px solid #494949 !important;
}
.dark-theme #mainbar .editor {
  background-color: #181818;
}
.dark-theme .layout-header input {
  border-color: #000000;
  color: #d4d4d4;
}
.dark-theme .editor.preview {
  background-color: #181818;
}
.dark-theme .CodeMirror {
  background: #141414 !important;
}
.dark-theme #cwd .layout-header, .dark-theme #error-boundary .layout-header {
  background-color: #181818;
  border-bottom: 1px solid #494949 !important;
}
.dark-theme .markdown-body pre {
  background: #141414 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dark-theme .markdown-body pre code, .dark-theme .markdown-body pre tt {
  background: none !important;
}
.dark-theme .markdown-body img {
  background: none !important;
}
.dark-theme .markdown-body pre code, .dark-theme .markdown-body pre tt {
  padding: 0.2em 0 !important;
  border: none !important;
}
.dark-theme .markdown-body h2, .dark-theme .markdown-body strong {
  color: #dcdcdc !important;
}
.dark-theme .markdown-body code {
  border-color: #343434 !important;
  background: #222 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dark-theme .markdown-body blockquote, .dark-theme .markdown-body h6, .dark-theme .markdown-body del {
  color: #8e8e8e !important;
}
.dark-theme .markdown-body code, .dark-theme .markdown-body tt {
  padding: 0 0.3em !important;
  display: inline-block !important;
  max-width: 100% !important;
}
.dark-theme .CodeMirror-focused .CodeMirror-selected {
  background-color: #67769660;
}
.dark-theme .markdown-body {
  color: #bababa;
}
.dark-theme .markdown-body h1, .dark-theme .markdown-body h2 {
  border-bottom: 1px solid #343434 !important;
}
.dark-theme .markdown-body kbd {
  color: #afafaf !important;
  border-color: #383838 !important;
  box-shadow: inset 0 -2px 0 #343434 !important;
  background-color: transparent !important;
}
.dark-theme kbd {
  border: 1px solid #d1d5da;
}
@supports (scrollbar-color: rgba(140, 140, 140, 0.5) transparent) and (scrollbar-width: thin) {
  .dark-theme * {
    scrollbar-color: rgba(140, 140, 140, 0.5) transparent !important;
    scrollbar-width: thin !important;
  }
}
@supports (not (scrollbar-color: rgba(140, 140, 140, 0.5) transparent)) and (not (scrollbar-width: thin)) {
  .dark-theme ::-webkit-scrollbar {
    max-width: 5px !important;
    max-height: 5px !important;
    background: #1d1d1d !important;
  }
  .dark-theme ::-webkit-scrollbar-track, .dark-theme ::-webkit-scrollbar-corner {
    background: transparent !important;
  }
  .dark-theme ::-webkit-scrollbar-thumb {
    background: rgba(140, 140, 140, 0.5) !important;
  }
  .dark-theme ::-webkit-scrollbar-thumb:hover {
    background: rgba(79, 140, 201, 0.8) !important;
  }
}

/*! Github Dark v1.20.93 (2018-12-22) */
/*! Repository: https://github.com/StylishThemes/GitHub-Dark    */
/*! Userstyle:  http://userstyles.org/styles/37035              */
/*! License:    https://creativecommons.org/licenses/by-sa/4.0/ */
.dark-theme {
  /* scroll bar */
}
.dark-theme .markdown-body pre {
  background: #141414 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dark-theme .markdown-body pre code, .dark-theme .markdown-body pre tt {
  background: none !important;
}
.dark-theme .markdown-body img {
  background: none !important;
}
.dark-theme .markdown-body pre code, .dark-theme .markdown-body pre tt {
  padding: 0.2em 0 !important;
  border: none !important;
}
.dark-theme .markdown-body h2, .dark-theme .markdown-body strong {
  color: #dcdcdc !important;
}
.dark-theme .markdown-body code {
  border-color: #343434 !important;
  background: #222 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.dark-theme .markdown-body blockquote, .dark-theme .markdown-body h6, .dark-theme .markdown-body del {
  color: #8e8e8e !important;
}
.dark-theme .markdown-body code, .dark-theme .markdown-body tt {
  padding: 0 0.3em !important;
  display: inline-block !important;
  max-width: 100% !important;
}
.dark-theme .CodeMirror-focused .CodeMirror-selected {
  background-color: #67769660;
}
.dark-theme .markdown-body {
  color: #bababa;
}
.dark-theme .markdown-body h1, .dark-theme .markdown-body h2 {
  border-bottom: 1px solid #343434 !important;
}
.dark-theme .markdown-body kbd {
  color: #afafaf !important;
  border-color: #383838 !important;
  box-shadow: inset 0 -2px 0 #343434 !important;
  background-color: transparent !important;
}
.dark-theme kbd {
  border: 1px solid #d1d5da;
}
@supports (scrollbar-color: rgba(140, 140, 140, 0.5) transparent) and (scrollbar-width: thin) {
  .dark-theme * {
    scrollbar-color: rgba(140, 140, 140, 0.5) transparent !important;
    scrollbar-width: thin !important;
  }
}
@supports (not (scrollbar-color: rgba(140, 140, 140, 0.5) transparent)) and (not (scrollbar-width: thin)) {
  .dark-theme ::-webkit-scrollbar {
    max-width: 5px !important;
    max-height: 5px !important;
    background: #1d1d1d !important;
  }
  .dark-theme ::-webkit-scrollbar-track, .dark-theme ::-webkit-scrollbar-corner {
    background: transparent !important;
  }
  .dark-theme ::-webkit-scrollbar-thumb {
    background: rgba(140, 140, 140, 0.5) !important;
  }
  .dark-theme ::-webkit-scrollbar-thumb:hover {
    background: rgba(79, 140, 201, 0.8) !important;
  }
}

/*! Github Dark v1.20.93 (2018-12-22) */
/*! Repository: https://github.com/StylishThemes/GitHub-Dark    */
/*! Userstyle:  http://userstyles.org/styles/37035              */
/*! License:    https://creativecommons.org/licenses/by-sa/4.0/ */
.dark-theme {
  /*
      Name:       one-dark 1.1.1
      Author:     Török Ádám (http://github.com/Aerobird98)
      Original Atom One Dark Theme (https://github.com/atom/one-dark-ui & https://github.com/atom/one-dark-syntax)
  */
  /* basic */
  /* FIXME: still uses github-light theme as a base */
  /* addon: edit/machingbrackets.js & addon: edit/matchtags.js */
  /* addon: fold/foldgutter.js */
  /* addon: selection/active-line.js */
  /* basic syntax */
  /* original:  #d19a66; */
  /* original: #abb2bf */
  /* original: #abb2bf */
  /* css syntax corrections */
  /* lua syntax corrections */
}
.dark-theme .cm-s-github-light {
  /* font-family: "Fira Code", Menlo, Consolas, 'DejaVu Sans Mono', monospace !important; */
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  font-weight: 350;
  font-size: 12px;
  color: #abb2bf;
  /* background-color: #282c34; */
}
.dark-theme .cm-s-github-light .CodeMirror-selected {
  background-color: #3e4451;
}
.dark-theme .cm-s-github-light .CodeMirror-gutter, .dark-theme .cm-s-github-light .CodeMirror-gutters {
  border: none;
  /* background-color: #282c34; */
}
.dark-theme .cm-s-github-light .CodeMirror-linenumber, .dark-theme .cm-s-github-light .CodeMirror-linenumbers {
  color: #5c6370 !important;
  background-color: transparent;
}
.dark-theme .cm-s-github-light .CodeMirror-lines {
  color: #abb2bf !important;
  background-color: transparent;
}
.dark-theme .cm-s-github-light .CodeMirror-cursor {
  border-left: 2px solid #56b6c2 !important;
}
.dark-theme .cm-s-github-light .CodeMirror-matchingbracket, .dark-theme .cm-s-github-light .CodeMirror-matchingtag {
  border-bottom: 2px solid #56b6c2;
  color: #abb2bf !important;
  background-color: transparent;
}
.dark-theme .cm-s-github-light .CodeMirror-nonmatchingbracket {
  border-bottom: 2px solid #e06c75;
  color: #abb2bf !important;
  background-color: transparent;
}
.dark-theme .cm-s-github-light .CodeMirror-foldmarker, .dark-theme .cm-s-github-light .CodeMirror-foldgutter, .dark-theme .cm-s-github-light .CodeMirror-foldgutter-open, .dark-theme .cm-s-github-light .CodeMirror-foldgutter-folded {
  border: none;
  text-shadow: none;
  color: #5c6370 !important;
  background-color: transparent;
}
.dark-theme .cm-s-github-light .CodeMirror-activeline-background {
  background-color: rgba(153, 187, 255, 0.04);
}
.dark-theme .cm-s-github-light .cm-header {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-quote {
  color: #5c6370;
  font-style: italic;
}
.dark-theme .cm-s-github-light .cm-negative, .dark-theme .cm-s-github-light .cm-positive {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-strong, .dark-theme .cm-s-github-light .cm-header .cm-strong {
  color: #d19a66;
  font-weight: bold;
}
.dark-theme .cm-s-github-light .cm-em, .dark-theme .cm-s-github-light .cm-header .cm-em {
  color: #c678dd;
  font-style: italic;
}
.dark-theme .cm-s-github-light .cm-tag {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-attribute {
  color: #d19a66;
}
.dark-theme .cm-s-github-light .cm-link {
  color: #98c379;
  border-bottom: solid 1px #98c379;
}
.dark-theme .cm-s-github-light .cm-builtin {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-keyword {
  color: #c678dd;
}
.dark-theme .cm-s-github-light .cm-def {
  color: #e5c07b;
}
.dark-theme .cm-s-github-light .cm-atom, .dark-theme .cm-s-github-light .cm-number {
  color: #d19a66;
}
.dark-theme .cm-s-github-light .cm-property {
  color: #56b6c2;
}
.dark-theme .cm-s-github-light .cm-qualifier {
  color: #d19a66;
}
.dark-theme .cm-s-github-light .cm-variable {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-string {
  color: #98c379;
}
.dark-theme .cm-s-github-light .cm-punctuation {
  color: #abb2bf;
}
.dark-theme .cm-s-github-light .cm-operator {
  color: #56b6c2;
}
.dark-theme .cm-s-github-light .cm-meta, .dark-theme .cm-s-github-light .cm-bracket {
  color: #abb2bf;
}
.dark-theme .cm-s-github-light .cm-comment {
  color: #5c6370;
  font-style: italic;
}
.dark-theme .cm-s-github-light .cm-error {
  color: #e06c75;
}
.dark-theme .cm-s-github-light .cm-m-css.cm-variable {
  color: #828997;
}
.dark-theme .cm-s-github-light .cm-m-css.cm-property {
  color: #abb2bf;
}
.dark-theme .cm-s-github-light .cm-m-css.cm-atom, .dark-theme .cm-s-github-light .cm-m-css.cm-builtin {
  color: #56b6c2;
}
.dark-theme .cm-s-github-light .cm-m-lua.cm-variable {
  color: #56b6c2;
}

.light-theme #sidebar {
  background-color: #333E45;
}
.light-theme #sidebar .tag {
  color: #fdfdfd;
}
.light-theme #sidebar .tag.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.light-theme #sidebar .tag.label.active, .light-theme #sidebar .tag.button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.light-theme #middlebar {
  background-color: #fdfdfd;
}
.light-theme #middlebar .layout-header {
  background: #f4f4f4;
  border-color: #d8d8d8;
}
.light-theme #middlebar .layout-header .search > * {
  margin-bottom: 0 !important;
}
.light-theme #middlebar .layout-header input {
  width: 0;
}
.light-theme #middlebar .header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e2e2e2 !important;
  color: rgba(31, 31, 31, 0.65);
}
.light-theme #middlebar .header .sort-by, .light-theme #middlebar .header .sort-type {
  background-color: #f8f8f8;
}
.light-theme #middlebar .note-button.button:hover {
  background-color: #f3f3f3;
}
.light-theme #middlebar .note-button.label.active, .light-theme #middlebar .note-button.button:active {
  background-color: #eeeeee;
}
.light-theme #mainbar {
  background-color: #f4f4f4;
  border-left: 1px solid #d8d8d8;
}
.light-theme #mainbar .layout-header {
  background: #f4f4f4;
  border-color: #d8d8d8;
}
.light-theme #mainbar .header {
  border-bottom: 1px solid #d8d8d8 !important;
}
.light-theme #mainbar .editor {
  background-color: #fdfdfd;
}
.light-theme .editor.preview {
  background-color: #fdfdfd;
}
.light-theme .editor.preview p code, .light-theme .editor.preview li code, .light-theme .editor.preview table code {
  background-color: rgba(27, 31, 35, 0.05) !important;
  padding: 0.2em 0.4em !important;
}
.light-theme #cwd .layout-header, .light-theme #error-boundary .layout-header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #d8d8d8 !important;
}
