.dark-theme {
  div.button:not(.active).bordered > i.icon {
    color: #bebebe;
  }

  #sidebar {
    background-color: #181818;
    .tag {
      color: #dcdcdc;
      &.button:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &.label.active, &.button:active {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  #middlebar {
    background-color: #212124;
    .layout-header {
      background: #212124;
      border-color: #494949;
      input {
        background: #202020;
        border-color: #000000;
        color: #d4d4d4;
      }
    }
    .header {
      /* background-color: #f8f8f8; */
      border-bottom: 1px solid #343434 !important;
      .sort-by, .sort-type {
        background-color: #212124;
        color: #d4d4d4;
      }
    }
    .note-button {
      &.button:hover {
        background-color: #2f3440;
      }
      &.label.active, &.button:active {
        background-color: #323951;
      }
    }
    > #middlebar-toolbar.layout-header {
      background: #181818;
    }
  }

  #mainbar {
    background-color: #181818;
    /* border-left: 1px solid #494949; */
    .layout-header {
      background: #181818;
      border-color: #494949;
    }
    .header {
      border-bottom: 1px solid #494949 !important;
    }
    .editor {
      background-color: #181818;
    }
  }
  .layout-header {
    input {
      border-color: #000000;
      color: #d4d4d4;
    }
  }

  .editor.preview {
    background-color: #181818;
  }

  .CodeMirror {
    background: #141414 !important;
  }

  #cwd .layout-header, #error-boundary .layout-header {
    background-color: #181818;
    border-bottom: 1px solid #494949 !important;
  }

  /*! Github Dark v1.20.93 (2018-12-22) */
  /*! Repository: https://github.com/StylishThemes/GitHub-Dark    */
  /*! Userstyle:  http://userstyles.org/styles/37035              */
  /*! License:    https://creativecommons.org/licenses/by-sa/4.0/ */

  .markdown-body {
    pre {
      background: #141414 !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
      code, tt {
        background: none !important;
      }
    }
    img {
      background: none !important;
    }
    pre {
      code, tt {
        padding: .2em 0 !important;
        border: none !important;
      }
    }

    h2, strong {
      color: #dcdcdc !important;
    }
    code {
      border-color: #343434 !important;
      background: #222 !important;
      border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
    blockquote, h6, del {
      color: #8e8e8e !important;
    }
    code, tt {
      padding: 0 .3em !important;
      display: inline-block !important;
      max-width: 100% !important;
    }
  }

  .CodeMirror-focused .CodeMirror-selected {
    background-color: #67769660;
  }

  .markdown-body {
    color: #bababa;
    h1, h2 {
      border-bottom: 1px solid #343434 !important;
    }
    kbd {
      color: #afafaf !important;
      border-color: #383838 !important;
      box-shadow: inset 0 -2px 0 #343434 !important;
      background-color: transparent !important;
    }
  }

  kbd {
    border: 1px solid #d1d5da;
  }

  /* scroll bar */
  @supports (scrollbar-color: rgba(140, 140, 140, 0.5) transparent) and (scrollbar-width: thin) {
    * {
      scrollbar-color: rgba(140, 140, 140, 0.5) transparent !important;
      scrollbar-width: thin !important;
    }
  }

  @supports (not (scrollbar-color: rgba(140, 140, 140, 0.5) transparent)) and (not (scrollbar-width: thin)) {
    ::-webkit-scrollbar {
      max-width: 5px !important;
      max-height: 5px !important;
      background: #1d1d1d !important;
    }
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
      background: transparent !important;
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(140, 140, 140, 0.5) !important;
      &:hover {
        background: rgba(79, 140, 201, 0.8) !important;
      }
    }
  }
}
