
.preview {

  .copy-wrapper {

    position: relative;

    .copy {
      position: absolute;
      top: $gutter;
      right: $gutter;
      cursor: pointer;
      opacity: 0;
      transition: opacity $animation-fast;
      z-index: 1;
    }

    &:hover .copy {
      opacity: .5;
      &:hover {
        opacity: .75;
      }
      &:active {
        opacity: 1;
      }
    }

  }

}
