
// @require ./abstract.scss

@function theme-light () {

  $base-background: #FFFFFF;
  $base-background-hover: darken( $base-background, 3 );
  $base-background-active: darken( $base-background, 6 );
  $base-border: darken( $base-background, 14.5 );
  $base-foreground: #1F1F1F;

  $accent-background: #EF6C00;
  $accent-background-hover: darken( $accent-background, 3 );
  $accent-background-active: darken( $accent-background, 6 );
  $accent-border: darken( $accent-background, 14.5 );
  $accent-foreground: #FFFFFF;

  $highlight-background: darken( $base-background, 6 );
  $highlight-background-hover: darken( $highlight-background, 9 );
  $highlight-background-active: darken( $highlight-background, 12 );
  $highlight-border: darken( $highlight-background, 20.5 );
  $highlight-foreground: $base-foreground;

  $warning-background: #F44336;
  $warning-background-hover: darken( $warning-background, 3 );
  $warning-background-active: darken( $warning-background, 6 );
  $warning-border: darken( $warning-background, 14.5 );
  $warning-foreground: #FFFFFF;

  $body-background: darken( $base-background, 3 );
  $body-foreground: $base-foreground;

  $selection-background: rgba( $accent-background, .15 );

  $sidebar-background: #20272C;
  $sidebar-foreground: #FFFFFF;

  $middlebar-background: $base-background;
  $middlebar-foreground: $base-foreground;

  $mainbar-background: $body-background;
  $mainbar-foreground: inherit;

  $toolbar-background: darken( $base-background, 4 );
  $toolbar-border: darken( $toolbar-background, 12 );
  $toolbar-foreground: #505050;

  $list-header-background: lighten( $toolbar-background, 1.5 );
  $list-header-border: lighten( $toolbar-border, 3 );
  $list-header-foreground: lighten( $base-foreground, 30 );

  $list-item-background: transparent;
  $list-item-background-hover: rgba( #000000, .04 );
  $list-item-background-active: rgba( #000000, .08 );
  $list-item-border: rgba( #000000, .12 );
  $list-item-foreground: inherit;

  $sidebar-list-item-background: transparent;
  $sidebar-list-item-background-hover: rgba( #000000, .2 );
  $sidebar-list-item-background-active: rgba( #000000, .4 );
  $sidebar-list-item-border: rgba( #000000, .6 );
  $sidebar-list-item-foreground: inherit;

  $middlebar-list-item-background: $list-item-background;
  $middlebar-list-item-background-hover: $list-item-background-hover;
  $middlebar-list-item-background-active: $list-item-background-active;
  $middlebar-list-item-border: $list-item-border;
  $middlebar-list-item-foreground: $list-item-foreground;

  $popover-list-item-background: $list-item-background;
  $popover-list-item-background-hover: $list-item-background-hover;
  $popover-list-item-background-active: $list-item-background-active;
  $popover-list-item-border: $list-item-border;
  $popover-list-item-foreground: $list-item-foreground;

  $quick-panel-list-item-background: $list-item-background;
  $quick-panel-list-item-background-hover: $list-item-background-hover;
  $quick-panel-list-item-background-active: $list-item-background-active;
  $quick-panel-list-item-border: $list-item-border;
  $quick-panel-list-item-foreground: $list-item-foreground;

  $notification-background: $sidebar-background;
  $notification-background-hover: darken( $notification-background, 3 );
  $notification-background-active: darken( $notification-background, 6 );
  $notification-border: darken( $notification-background, 12 );
  $notification-foreground: $sidebar-foreground;

  $column-border: $list-header-border;

  $editor-background: $middlebar-background;
  $editor-border: lighten( $column-border, 3 );
  $editor-foreground: $body-foreground;

  $preview-background: $middlebar-background;
  $preview-border: lighten( $column-border, 3 );
  $preview-foreground: $body-foreground;

  $preview-heading-border: #EAECEF;
  $preview-h1-foreground: inherit;
  $preview-h2-foreground: inherit;
  $preview-h3-foreground: inherit;
  $preview-h4-foreground: inherit;
  $preview-h5-foreground: inherit;
  $preview-h6-foreground: #6A737D;
  $preview-code-background: rgba( 27, 31, 35, .05 );
  $preview-code-foreground: $preview-foreground;
  $preview-link-foreground: #0366D6;
  $preview-link-foreground-hover: darken( $preview-link-foreground, 3 );
  $preview-link-foreground-active: darken( $preview-link-foreground, 6 );
  $preview-table-border: #DFE2E5;
  $preview-table-row-odd-background: #FFFFFF;
  $preview-table-row-even-background: #F6F8FA;
  $preview-blockquote-foreground: #6A737D;
  $preview-blockquote-border: #DFE2E5;
  $preview-kbd-background: #FAFBFC;
  $preview-kbd-border: #DFE2E5;
  $preview-kbd-shadow: #959DA5;
  $preview-kbd-foreground: #444D56;
  $preview-mark-background: $selection-background;
  $preview-mark-foreground: $preview-foreground;
  $preview-hr-background: #E1E4E8;

  $katex-fbox-border: $preview-foreground;

  $highlighter-background: #F6F8FA;
  $highlighter-foreground: $preview-foreground;
  $highlighter-token-comment: #6A737D;
  $highlighter-token-prolog: #6A737D;
  $highlighter-token-doctype: #6A737D;
  $highlighter-token-cdata: #6A737D;
  $highlighter-token-punctuation: $preview-foreground;
  $highlighter-token-string: $preview-foreground;
  $highlighter-token-atrule: #E36208;
  $highlighter-token-attr-value: $preview-foreground;
  $highlighter-token-property: #005CC5;
  $highlighter-token-tag: #218639;
  $highlighter-token-boolean: #005CC5;
  $highlighter-token-number: #005CC5;
  $highlighter-token-code: #005CC5;
  $highlighter-token-selector: #6F42C1;
  $highlighter-token-attr-name: #6F42C1;
  $highlighter-token-attr-equal: $preview-foreground;
  $highlighter-token-function: #6F42C1;
  $highlighter-token-keyword: #D73A49;
  $highlighter-token-regex: #218639;
  $highlighter-token-important: #D73A49;
  $highlighter-token-operator: #D73A49;
  $highlighter-token-entity: #005CC5;
  $highlighter-token-title: $preview-foreground;
  $highlighter-token-url: #6F42C1;
  $highlighter-token-list-punctuation: #D73A49;
  $highlighter-token-blockquote-punctuation: #D73A49;
  $highlighter-token-title-punctuation: #D73A49;

  $monaco-selected-foreground: rgba( $accent-background, .08 );
  $monaco-selected-focused-foreground: rgba( $accent-background, .15 );
  $monaco-slider-background: rgba( #000000, .15 );
  $monaco-slider-backgroundHover: rgba( #000000, .2 );
  $monaco-slider-backgroundActive: rgba( #000000, .25 );
  $monaco-margin-background: $editor-background;
  $monaco-lineNumber-foreground: #6A737D;
  $monaco-currentLineNumber-foreground: $monaco-lineNumber-foreground;

  @return (
    'body.background': $body-background,
    'body.foreground': $body-foreground,
    'selection.background': $selection-background,
    'base.background': $base-background,
    'base.backgroundHover': $base-background-hover,
    'base.backgroundActive': $base-background-active,
    'base.border': $base-border,
    'base.foreground': $base-foreground,
    'accent.background': $accent-background,
    'accent.backgroundHover': $accent-background-hover,
    'accent.backgroundActive': $accent-background-active,
    'accent.border': $accent-border,
    'accent.foreground': $accent-foreground,
    'highlight.background': $highlight-background,
    'highlight.backgroundHover': $highlight-background-hover,
    'highlight.backgroundActive': $highlight-background-active,
    'highlight.border': $highlight-border,
    'highlight.foreground': $highlight-foreground,
    'warning.background': $warning-background,
    'warning.backgroundHover': $warning-background-hover,
    'warning.backgroundActive': $warning-background-active,
    'warning.border': $warning-border,
    'warning.foreground': $warning-foreground,
    'column.border': $column-border,
    'sidebar.background': $sidebar-background,
    'sidebar.foreground': $sidebar-foreground,
    'sidebar.list.item.background': $sidebar-list-item-background,
    'sidebar.list.item.backgroundHover': $sidebar-list-item-background-hover,
    'sidebar.list.item.backgroundActive': $sidebar-list-item-background-active,
    'sidebar.list.item.border': $sidebar-list-item-border,
    'sidebar.list.item.foreground': $sidebar-list-item-foreground,
    'middlebar.background': $middlebar-background,
    'middlebar.foreground': $middlebar-foreground,
    'middlebar.list.item.background': $middlebar-list-item-background,
    'middlebar.list.item.backgroundHover': $middlebar-list-item-background-hover,
    'middlebar.list.item.backgroundActive': $middlebar-list-item-background-active,
    'middlebar.list.item.border': $middlebar-list-item-border,
    'middlebar.list.item.foreground': $middlebar-list-item-foreground,
    'mainbar.background': $mainbar-background,
    'mainbar.foreground': $mainbar-foreground,
    'popover.list.item.background': $popover-list-item-background,
    'popover.list.item.backgroundHover': $popover-list-item-background-hover,
    'popover.list.item.backgroundActive': $popover-list-item-background-active,
    'popover.list.item.border': $popover-list-item-border,
    'popover.list.item.foreground': $popover-list-item-foreground,
    'quickPanel.list.item.background': $quick-panel-list-item-background,
    'quickPanel.list.item.backgroundHover': $quick-panel-list-item-background-hover,
    'quickPanel.list.item.backgroundActive': $quick-panel-list-item-background-active,
    'quickPanel.list.item.border': $quick-panel-list-item-border,
    'quickPanel.list.item.foreground': $quick-panel-list-item-foreground,
    'list.header.background': $list-header-background,
    'list.header.border': $list-header-border,
    'list.header.foreground': $list-header-foreground,
    'list.item.background': $list-item-background,
    'list.item.backgroundHover': $list-item-background-hover,
    'list.item.backgroundActive': $list-item-background-active,
    'list.item.border': $list-item-border,
    'list.item.foreground': $list-item-foreground,
    'toolbar.background': $toolbar-background,
    'toolbar.border': $toolbar-border,
    'toolbar.foreground': $toolbar-foreground,
    'notification.background': $notification-background,
    'notification.backgroundHover': $notification-background-hover,
    'notification.backgroundActive': $notification-background-active,
    'notification.border': $notification-border,
    'notification.foreground': $notification-foreground,
    'editor.background': $editor-background,
    'editor.border': $editor-border,
    'editor.foreground': $editor-foreground,
    'preview.background': $preview-background,
    'preview.border': $preview-border,
    'preview.foreground': $preview-foreground,
    'preview.heading.border': $preview-heading-border,
    'preview.h1.foreground': $preview-h1-foreground,
    'preview.h2.foreground': $preview-h2-foreground,
    'preview.h3.foreground': $preview-h3-foreground,
    'preview.h4.foreground': $preview-h4-foreground,
    'preview.h5.foreground': $preview-h5-foreground,
    'preview.h6.foreground': $preview-h6-foreground,
    'preview.code.background': $preview-code-background,
    'preview.code.foreground': $preview-code-foreground,
    'preview.link.foreground': $preview-link-foreground,
    'preview.link.foregroundHover': $preview-link-foreground-hover,
    'preview.link.foregroundActive': $preview-link-foreground-active,
    'preview.table.border': $preview-table-border,
    'preview.table.row.odd.background': $preview-table-row-odd-background,
    'preview.table.row.even.background': $preview-table-row-even-background,
    'preview.blockquote.foreground': $preview-blockquote-foreground,
    'preview.blockquote.border': $preview-blockquote-border,
    'preview.kbd.background': $preview-kbd-background,
    'preview.kbd.border': $preview-kbd-border,
    'preview.kbd.shadow': $preview-kbd-shadow,
    'preview.kbd.foreground': $preview-kbd-foreground,
    'preview.mark.background': $preview-mark-background,
    'preview.mark.foreground': $preview-mark-foreground,
    'preview.hr.background': $preview-hr-background,
    'katex.fbox.border': $katex-fbox-border,
    'highlighter.background': $highlighter-background,
    'highlighter.foreground': $highlighter-foreground,
    'highlighter.token.comment': $highlighter-token-comment,
    'highlighter.token.prolog': $highlighter-token-prolog,
    'highlighter.token.doctype': $highlighter-token-doctype,
    'highlighter.token.cdata': $highlighter-token-cdata,
    'highlighter.token.punctuation': $highlighter-token-punctuation,
    'highlighter.token.string': $highlighter-token-string,
    'highlighter.token.atrule': $highlighter-token-atrule,
    'highlighter.token.attrValue': $highlighter-token-attr-value,
    'highlighter.token.property': $highlighter-token-property,
    'highlighter.token.tag': $highlighter-token-tag,
    'highlighter.token.boolean': $highlighter-token-boolean,
    'highlighter.token.number': $highlighter-token-number,
    'highlighter.token.code': $highlighter-token-code,
    'highlighter.token.selector': $highlighter-token-selector,
    'highlighter.token.attrName': $highlighter-token-attr-name,
    'highlighter.token.attrEqual': $highlighter-token-attr-equal,
    'highlighter.token.function': $highlighter-token-function,
    'highlighter.token.keyword': $highlighter-token-keyword,
    'highlighter.token.regex': $highlighter-token-regex,
    'highlighter.token.important': $highlighter-token-important,
    'highlighter.token.operator': $highlighter-token-operator,
    'highlighter.token.entity': $highlighter-token-entity,
    'highlighter.token.title': $highlighter-token-title,
    'highlighter.token.url': $highlighter-token-url,
    'highlighter.token.list.punctuation': $highlighter-token-list-punctuation,
    'highlighter.token.blockquote.punctuation': $highlighter-token-blockquote-punctuation,
    'highlighter.token.title.punctuation': $highlighter-token-title-punctuation,
    'monaco.selected.foreground': $monaco-selected-foreground,
    'monaco.selected.focused.foreground': $monaco-selected-focused-foreground,
    'monaco.slider.background': $monaco-slider-background,
    'monaco.slider.backgroundHover': $monaco-slider-backgroundHover,
    'monaco.slider.backgroundActive': $monaco-slider-backgroundActive,
    'monaco.margin.background': $monaco-margin-background,
    'monaco.lineNumber.foreground': $monaco-lineNumber-foreground,
    'monaco.currentLineNumber.foreground': $monaco-currentLineNumber-foreground
  );

}

@include theme ( 'light', theme-light() );
