
.layout.column {

  overflow: hidden !important; /* Fixes a weird bug where the mainbar could actually be scrolled */

  & + .layout.column {
    border-left-width: 1px;
    border-left-style: solid;
  }

}
