
.quick-panel {

  top: 20px;
  width: $quick-panel-width;
  max-width: $quick-panel-max-width;

  &:not(.open) {
    transform: translate(-50%, -1rem);
  }

  &.open {
    transform: translateX(-50%);
  }

  .list {
    max-height: $quick-panel-list-max-height;
  }

}
