
$color-hover-lighten-amount: 4 !default;
$color-active-darken-amount: $color-hover-lighten-amount !default;
$color-border-darken-amount: $color-active-darken-amount * 4 !default;

$color-white: #fdfdfd;
$color-white-text: #1f1f1f;

$color-base: #fdfdfd;
$color-base-text: #1f1f1f;

$color-black: #1f1f1f;
