
$color-hover-lighten-amount: 4 !default;
$color-active-darken-amount: $color-hover-lighten-amount !default;
$color-border-darken-amount: $color-active-darken-amount * 4 !default;

$color-white: #181818;
$color-white-text: #dcdcdc;

$color-base: #181818;
$color-base-text: #dcdcdc;

$color-black: #dcdcdc;
