
.monaco-editor-wrapper {
  padding: 0 !important;
}

.monaco-editor {

  .current-line {
    border-width: 0 !important;
  }

  .overlayWidgets {
    display: none;
  }

  .slider,
  .decorationsOverviewRuler,
  .minimap-slider {
    will-change: auto !important; /* It causes some sharpness problems */
  }

}
