
#sidebar {

  flex: $sidebar-ratio $sidebar-ratio $sidebar-min-width;
  min-width: $sidebar-min-width;
  max-width: $sidebar-max-width;

  .toolbar {
    opacity: 0;
  }

  .list-item i.icon.collapser {
    transition: transform $animation-fast;
  }

}
