
.zen {

  html.mac &:not(.fullscreen) .preview {
    padding-top: $toolbar-height !important;
  }

  .mainbar .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  .popover:after { // Hiding the tip
    display: none !important;
  }

  .popover.open {
    margin-top: 0 !important;
  }

  html.mac &:not(.fullscreen) .popover.show {
    transform: translate($gutter, $toolbar-height) !important;
  }

  html.mac &.fullscreen .popover.show,
  html.no-mac & .popover.show {
    transform: translate($gutter, $gutter) !important;
  }

}
