
@mixin theme-background-color ( $base, $hover: false, $active: false ) {

  background-color: $base;

  @if $hover {
    &:not(.active):hover {
      background-color: $hover;
    }
  }

  @if $active {
    &.active,
    &:active {
      background-color: $active;
    }
  }

}

@mixin theme-color ( $base, $hover: false, $active: false ) {

  color: $base;

  @if $hover {
    &:hover {
      color: $hover;
    }
  }

  @if $active {
    &:active {
      color: $active;
    }
  }

}

@mixin theme-color-full ( $name, $bg, $bg-hover, $bg-active, $border, $color ) {

  /* NORMAL */

  $selectors_normal: 'input, textarea, .label, .container, .card, .tagbox';
  $selectors_normal: if( $name, selector-unify( $selectors_normal, '.#{$name}' ), $selectors_normal );

  #{$selectors_normal} {
    background-color: $bg;
    color: $color;
    border-color: $border;
  }

  /* ACTIONABLE */

  $selectors_actionable: '.button';
  $selectors_actionable: if( $name, selector-unify( $selectors_actionable, '.#{$name}' ), $selectors_actionable );

  #{$selectors_actionable} {
    @include theme-background-color ( $bg, $bg-hover, $bg-active );
    color: $color;
    border-color: $border;
  }

  /* TEXT */

  @if $name {

    .text-#{$name} {
      color: $bg;
    }

  }

}
