
// @require ./abstract.scss

@mixin theme-color-base ( $theme ) {

  $bg: map-get( $theme, 'base.background' );
  $bg-hover: map-get( $theme, 'base.backgroundHover' );
  $bg-active: map-get( $theme, 'base.backgroundActive' );
  $border: map-get( $theme, 'base.border' );
  $color: map-get( $theme, 'base.foreground' );

  @include theme-color-full( false, $bg, $bg-hover, $bg-active, $border, $color );

}
