
// @require core/gutter/variables.scss
// @require core/reset/variables.scss

$preview-font-size: $font-size;
$preview-line-height: inherit;
$preview-spacing-y: $gutter * 2;
$preview-spacing-x: $gutter * 2;
