
@mixin theme-widget-codemirror ( $theme ) {

  .editor {

    .CodeMirror {
      background-color: map-get( $theme, 'editor.background' );
      color: map-get( $theme, 'editor.foreground' );
    }

    .CodeMirror-selected {
      background-color: map-get( $theme, 'selection.background' );
    }

  }

}
