
@mixin theme-widget-editor ( $theme ) {

  .editor {
    background-color: map-get( $theme, 'editor.background' );
    border-color: map-get( $theme, 'editor.border' );
    color: map-get( $theme, 'editor.foreground' );
  }

}
