
@mixin theme-widget-highlighter ( $theme ) {

  pre {
    background-color: map-get( $theme, 'highlighter.background' );
    color: map-get( $theme, 'highlighter.foreground' );
  }

  .token.comment {
    color: map-get( $theme, 'highlighter.token.comment' );
  }

  .token.prolog {
    color: map-get( $theme, 'highlighter.token.prolog' );
  }

  .token.doctype {
    color: map-get( $theme, 'highlighter.token.doctype' );
  }

  .token.cdata {
    color: map-get( $theme, 'highlighter.token.cdata' );
  }

  .token.punctuation {
    color: map-get( $theme, 'highlighter.token.punctuation' );
  }

  .token.string {
    color: map-get( $theme, 'highlighter.token.string' );
  }

  .token.atrule {
    color: map-get( $theme, 'highlighter.token.atrule' );
  }

  .token.attr-value {
    color: map-get( $theme, 'highlighter.token.attrValue' );
  }

  .token.property {
    color: map-get( $theme, 'highlighter.token.property' );
  }

  .token.tag {
    color: map-get( $theme, 'highlighter.token.tag' );
  }

  .token.boolean {
    color: map-get( $theme, 'highlighter.token.boolean' );
  }

  .token.number {
    color: map-get( $theme, 'highlighter.token.number' );
  }

  .token.keyword.code {
    color: map-get( $theme, 'highlighter.token.code' );
  }

  .token.selector {
    color: map-get( $theme, 'highlighter.token.selector' );
  }

  .token.attr-name {
    color: map-get( $theme, 'highlighter.token.attrName' );
  }

  .token.attr-value .punctuation:first-child {
    color: map-get( $theme, 'highlighter.token.attrEqual' );
  }

  .token.function {
    color: map-get( $theme, 'highlighter.token.function' );
  }

  .token.keyword {
    color: map-get( $theme, 'highlighter.token.keyword' );
  }

  .token.regex {
    color: map-get( $theme, 'highlighter.token.regex' );
  }

  .token.important {
    color: map-get( $theme, 'highlighter.token.important' );
  }

  .token.operator {
    color: map-get( $theme, 'highlighter.token.operator' );
  }

  .token.entity {
    color: map-get( $theme, 'highlighter.token.entity' );
  }

  .token.title {
    color: map-get( $theme, 'highlighter.token.title' );
  }

  .token.url {
    color: map-get( $theme, 'highlighter.token.url' );
  }

  .token.list.punctuation,
  .token.list .token.punctuation {
    color: map-get( $theme, 'highlighter.token.list.punctuation' );
  }

  .token.blockquote.punctuation,
  .token.blockquote .token.punctuation {
    color: map-get( $theme, 'highlighter.token.blockquote.punctuation' );
  }

  .token.title.punctuation,
  .token.title .token.punctuation {
    color: map-get( $theme, 'highlighter.token.title.punctuation' );
  }

}
