
@mixin theme-widget-monaco ( $theme ) {

  .monaco-editor {

    .monaco-scrollable-element > .scrollbar > .slider,
    .minimap-slider .minimap-slider-horizontal {

      background: map-get( $theme, 'monaco.slider.background' ) !important;

      &:hover {
        background: map-get( $theme, 'monaco.slider.backgroundHover' ) !important;
      }

      &:active,
      .active {
        background: map-get( $theme, 'monaco.slider.backgroundActive' ) !important;
      }

    }

    .selected-text {

      background-color: map-get( $theme, 'monaco.selected.foreground' );

      &.focused {
        background-color: map-get( $theme, 'monaco.selected.focused.foreground' );
      }

    }

    .margin {
      background-color: map-get( $theme, 'monaco.margin.background' );
    }

    .line-numbers {
      color: map-get( $theme, 'monaco.lineNumber.foreground' );
    }

    .current-line ~ .line-numbers {
      color: map-get( $theme, 'monaco.currentLineNumber.foreground' );
    }

  }

}
