
// @require themes/components/colors/abstract.scss

@mixin theme-widget-quick-panel ( $theme ) {

  #quick-panel {

    .list-item {

      $bg: map-get( $theme, 'quickPanel.list.item.background' );
      $bg-hover: map-get( $theme, 'quickPanel.list.item.backgroundHover' );
      $bg-active: map-get( $theme, 'quickPanel.list.item.backgroundActive' );

      @include theme-background-color ( $bg, $bg-hover, $bg-active );
      color: map-get( $theme, 'quickPanel.list.item.foreground' );
      border-color: map-get( $theme, 'quickPanel.list.item.border' );

    }

  }

}
