
#middlebar {

  flex: $middlebar-ratio $middlebar-ratio $middlebar-min-width;
  min-width: $middlebar-min-width;
  max-width: $middlebar-max-width;

  .search input {
    width: 0;
  }

  .list-header {

    .sort-by,
    .sort-type {
      cursor: pointer;
    }

    .sort-by {
      text-align: left;
    }

    .sort-type {
      i.icon {
        transition: transform $animation-fast;
      }
    }

  }

}
