
.toolbar {

  @include center-flex ();
  overflow: hidden !important;
  padding: $gutter;

  &.layout-header,
  &:not(.layout-footer) {

    height: $toolbar-height;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    input,
    .label,
    .button {
      padding: $toolbar-button-padding-y $toolbar-button-padding-x !important;
    }

  }

  &.layout-header {

    -webkit-app-region: drag;

    & > :not(.multiple):not(.title) {
      -webkit-app-region: no-drag;
    }

    & > .multiple > :not(.spacer) {
      -webkit-app-region: no-drag;
    }

  }

  &.layout-footer {
    border-top-width: 1px;
    border-top-style: solid;
  }

  &-semaphore-spacer {
    width: $toolbar-semaphore-width;
  }

}
